.button {
    padding: 19px 35px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.62;

    color: #FFF;
    background-color: var(--color-accent);

    border: none;
    border-radius: 12px;

    box-shadow: -5px 10px 30px rgba(76, 64, 247, 0.5);
}